/*
Colors used:
Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===================================================
       ========== Varabels SCSS ==========
=================================================== */
:root {
  --primary-color: #357b70;
  --Secondary-color: #e0b354;
  --darkgray-clolr: #2b2b2b;
  --link-visited-color: #05676e;
  --link-active-color: #489c79;
  --button-text-color: white;
  --border-buttob-color: rgba(0, 0, 0, 0.3);
  --sun-0-color: #edc655;
  --sun-50-color: #fcffad;
  --sun-100-color: #f76414;
  --h1-font-weight: 700;
}

/* ===================================================
   ==== FONT STYLE + FONT SIZE + FONT LINE-HEIGHT ====
    ============= For All Webpages ====================
=================================================== */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

/* Style HTML Headers <h> CSS
===================================================
========== H1, H2, H3 CSS FILE ADJUSMENT ==========
=================================================== */
h1 {
  font-weight: var(--h1-font-weight);
  font-size: 32px;
}

h2 {
  font-weight: var(--h1-font-weight);
  font-size: 24px;
}

h3 {
  font-weight: var(--h1-font-weight);
  font-size: 18px;
}

.web-word {
  font-weight: var(--h1-font-weight);
  color: var(--button-text-color);
  background-color: var(--primary-color);
}

/* ===================================================*
/*============= LINKs CSS FILE ADJUSMENT ============*
/*===================================================
/*Style HTML links <a> in CSS */
a {
  color: var(--primary-color);
}

a:visited {
  color: var(--link-visited-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--link-active-color);
}

/* ------About Page Link (Button) -------- */
.button,
.button:visited,
.button:active {
  color: var(--button-text-color);
}

/* ------Work Page Link (Button) -------- */

.button__work,
.button__work:visited,
.button__work:active {
  color: var(--button-text-color);
}

/* ===================================================
============ BUTTONs CSS FILE ADJUSMENT ===========
=================================================== */

/* Style HTML Buttons <button></button> at CSS */
input,
textarea,
select,
button {
  font-family: system-ui;
}

/* Button's Structure */
button,
.button__work,
.button {
  /* A) overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* B) takes the font from the outer container */
  font-family: inherit;
  /* C) styles the button */
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* D) width of the border, type, color */
  border-bottom: 2px solid var(--border-buttob-color);
  /* transition-duration: 0.4s;
  transition-property: opacity; */
  transition: 0.4s opacity;
  text-align: center;
}

/* Button's Reflections */
button:hover,
button:focus,
.button__work:hover,
.button__work:focus,
.button:hover,
.button:focus {
  /* A) lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* B) reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* Another button to understand the heritage impact on other
   buttons without writing code for each button again and again.
   For this new button we only define Background color and Color. */
/* .button__secondary {
  background-color: var(--Secondary-color);
  color: var(--darkgray-clol);
} */

.button__work {
  margin-top: 15px;
  width: 100%;

}


/* ===================================================
============= INDEX BODY - MAIN SECTION ===========
========== Siavash Picture / Text / Link ==========
=================================================== */
.profile {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 70px;
}

.profile__portrait {
  float: left;
  width: 300px;
  height: auto;
  margin-right: 40px;
  border-radius: 10%;
  /* border-bottom: 7px solid rgba(0, 0, 0, 0.3); */
}


/* ===================================================
========= ABOUT PAGE / BODY - MAIN SECTION ========
================= Siavash Biography ===============
=================================================== */
.p__about {
  /* clear: both; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile__portrait_about {
  float: left;
  width: 250px;
  height: auto;
  margin-right: 10px;
  border-radius: 10%;
  /* border-bottom: 7px solid rgba(0, 0, 0, 0.3); */
}

.p__about--siavash {
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
  margin-top: 15px;
  font-weight: bold;
}

.p__about--table {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 15px;
}

.p__about--techstack {
  margin-top: 15px;
}

.p__about--techstack-li {
  list-style-type: none;
}

.button {
  margin-top: 15px;
}


/* .svg__berlin {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
}
.berlin-illustration{
  margin-top: 15px;
  width: 500px;
  margin: 0 auto;
} */

.svg__dubai {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 40%;
  max-height: 500px;
  margin: 0 auto;
}

.dubi-illustration {
  max-width: 100%;
  margin: 0 auto;
}

/* Berlin-Illustration Animation */

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.dubaicloud-koochakfront {
  animation: 30s cloud-move infinite alternate linear;
}

.dubaicloud-bigtop {
  animation: 20s cloudbig-move infinite alternate linear;
}

.dubaistar-topburj {
  animation: 10s star-routate infinite alternate linear;
}

/* ===================================================
/*======= Header | Footer & it's childs FELEX =======
/*=================================================== */
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
  min-width: 200px;
  min-height: 70px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* =========== Navigation FELEX ============ */
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* .navigation-list li .navigation-list__item--active {
  text-decoration: none;
} */

/* Brackets go out */

/*
.navigation-list li a:before, .navigation-list li a:after
{
    position: absolute;
    opacity: 0;
    font-size: 35px;
    top: 0px;
    transition: all 0.3s;
}

.navigation-list li a:before
{
    content: '(';
    left: 0px;
    transform: translateX(10px);
}

.navigation-list li a:after
{
    content: ')';
    right: 0px;
    transform: translateX(-10px);
}

.navigation-list li a:hover:before, .navigation-list li a:hover:after
{
    opacity: 1;
    transform: translateX(0px);
}

/*====================================*
/*=========== Footer FLEX ============ */
.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.index-footergap {
  clear: both;
  margin: 100px 0;
  border: solid var(--button-text-color) 2px;
}

.center-titel {
  text-align: center;
}

/* ===================================================*
/*=============== Work Page CSS-GRID ================*
/*===================================================

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */
@supports (display: grid) {
  .grid {
    display: grid;
    max-width: 1100px;
    margin: 0 auto;
    /* grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 10px;
    border: black;
  }

  /* .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  } */
}

/* ===================================================*
/*============= ANIMATION (@keyframes) ==============*
/*=================================================== */
@keyframes color-change {
  0% {
    fill: var(--sun-0-color);
  }

  50% {
    fill: var(--sun-50-color);
  }

  100% {
    fill: var(--sun-100-color);
  }
}

@keyframes cloud-move {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(100px, -50px);
  }

  100% {
    transform: translate(200px, 0);
  }
}

@keyframes cloudbig-move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-200px, 0);
  }
}

@keyframes star-routate {
  to {
    transform: rotate(1deg);
  }

  from {
    transform: rotate(78deg);
  }
}

/* ===================================================*
/*================= @MEDIA (@media) =================*
/*=================================================== */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1,
  h2 {
    font-size: 20px;
  }

  .profile__portrait {
    width: 150px;
  }
}